body {
  background-color: black !important;
  color: white !important;
}
.gcv-container {
  font-family: "Lucida Console", "Lucida Sans Typewriter", monaco, "Bitstream Vera Sans Mono", monospace !important;
  font-size: 9px;
  line-height: 13.5px;
  margin-top: 5px;
  margin-left: 10px;
}
@media (min-width: 769px) {
  .gcv-container {
    margin-top: 20px;
    margin-left: 30px;
    font-size: 18.5px;
    line-height: 18.5px;
  }
}
div div div :hover {
  background-color: #0f0f0f !important;
}
